@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sigmar&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dancing-script-regular {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sigmar-regular {
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #121212;
  --secondary-color: #535066;
  --tertiary-color: #4A2EFF;
  --quaternary-color: #615999;
  --quinary-color: #5E4ECC;
}

body, html {
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.2;
  color: var(--primary-color);
  background-image: radial-gradient(circle, #4A2EFF, #ffffff);
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(circle, #4A2EFF, #121212);
  color: white;
  padding-bottom: 1rem;
  font-family: "Sigmar", serif;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
}

header > h1 {
  font-size: 2.5em;
  font-family: "Dancing Script", serif;
  font-weight: 400;
  color: white;
  text-shadow: black 2px 2px 6px;
  text-align: center;
  margin-top: 0.5em;
}

header > nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}

header > nav > ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

header > nav > ul > li {
  padding: 8px;
  border-radius: 0.5em;
  font-family: "Sigmar", serif;
}

header > nav > ul > li > a {
  text-shadow: black 2px 2px 6px;
  text-decoration: none;
  color: white;
}

header > nav > ul > li > a:hover {
  background-color: #1212126e;
  padding: 5px;
  box-shadow: 2px 2px 6px white;
  border-radius: 0.5em;
  transition: 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section {
  max-width: 900px;
  width: 90%;
  border-radius: 2em;
  border: 10px ridge #4A2EFF;
  margin: 1rem auto;
  padding: 1rem;
  background-size: cover;
  text-align: center;
}

section:hover {
  padding: 5px;
  border-radius: 0.5em;
  transition: 1s;
}

section#sobre, section#treinos, section#dicas {
  padding: 1rem;
  text-align: justify;
  background-size: cover;
  background-attachment: fixed;
  max-width: 900px;
  width: 90%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
}

section#sobre {
  background-image: linear-gradient(90deg, #4A2EFF, #ffffffe1);
}

section#treinos {
  background-image: linear-gradient(90deg, #535066, #ffffff);
}

section#dicas {
  background-image: linear-gradient(90deg, #4A2EFF, #ffffff);
}

section#sobre h2, section#treinos h2, section#dicas h2 {
  font-size: 2em;
  font-family: "Dancing Script", serif;
  text-shadow: rgba(0, 0, 0, 0.61) 2px 2px 6px;
  font-weight: 900;
}

section#sobre p, section#treinos p, section#dicas p {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: rgba(255, 255, 255, 0.795) 4px 4px 6px;
  font-weight: 600;
}

section img {
  width: 60%;
  max-width: 600px;
  height: auto;
  border-radius: 1em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
}

footer {
  width: 100%;
  background-image: radial-gradient(circle, #4A2EFF, #121212);
  color: white;
  font-family: "Sigmar", serif;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
  text-align: center;
  padding: 1rem;
}

footer > p {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.61) 4px 4px 6px;
  font-weight: 800;
}
